{{define "content"}}
<!-- Contrast -->
<table class="table table-condensed">
	<thead>
		<th>序号</th>
		<th style="width:110px;">时间</th>
		{{range .s}}
		<td colspan="2">Ch{{.Channel}}</td>
		{{end}}
	</thead>
	
	<tbody>
	{{range $i, $v := .ds}}
	<tr>
		<td>{{$i}}</td>
		<th>{{showTime .Time "2006/01/02-15"}}</th>
		{{range .Data}}
		<td>{{printf "%0.1f" .O}}</td>
		<td {{if .M}}class="label label-important"{{end}}>{{printf "%0.1f" .N}}</td>
		{{end}}
	</tr>
	{{end}}
	</tbody>
</table>
<!-- /Contrast -->
{{end}}