{{define "content"}}
<!-- 首页 载入原始数据文件 -->
<div class="dig" id="load_file">
	<div class="modal-header">
		<h3>选择原始数据文件</h3>
	</div>

	<div class="modal-body">
		<form method="post" action="/data" enctype="multipart/form-data">
			<span class="btn fileinput-button">
				<i class="icon-upload"></i>
				<span>载入文件</span>
				<input id="files" name="files" type="file" multiple>
			</span>

			<input type="submit" value="上载" id="file-submit" class="hidden">
		</form>

		<div id="file_list" class="file-list"></div>
	</div>

	<div class="modal-footer">
		<div class="message"></div>
		<a href="#modal_setting" data-toggle="modal" class="btn btn-primary" id="setting">设置</a>
		<button class="btn btn-primary disabled" id="load_file_next">载入文件</button>
	</div>
</div><!-- /首页 载入原始数据文件 -->
<script src="/js/ui.js"></script>
<script src="/js/index.js"></script>

<!-- Modal 设置 -->
<div id="modal_setting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>设置</h3>
		</div>
	<div class="modal-body">


<form class="index-setting form-horizontal">
	<div class="control-group">
		<label class="control-label">显示结果</label>
		<div class="controls">

		<label class="radio">
		  <input type="radio" {{if equal .config.Result "dir"}}checked="checked"{{end}} name="Result" value="dir" />目录
		</label>
		<label class="radio">
		  <input type="radio" {{if equal .config.Result "mem"}}checked="checked"{{end}} name="Result" value="mem" />内存
		</label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="set_max_num">显示最多结果条数</label>
		<div class="controls">
			<input type="text" id="set_max_num" placeholder="结果条数" value="{{.config.MaxNumInMem}}">
		</div>
	</div>


	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input id="set_revise" type="checkbox" {{if .config.Config.AutoRevise}}checked="true"{{end}}/> 自动修正
			</label>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label">多个站点时</label>
		<div class="controls">

		<label class="radio">
		  <input type="radio" {{if not .config.Config.Separate}}checked="checked"{{end}} name="Separate" value="false" />计算相关
		</label>
		<label class="radio">
		  <input type="radio" {{if .config.Config.Separate}}checked="checked"{{end}} name="Separate" value="true" />分开计算
		</label>
		</div>
	</div>

</form>


		</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
		</div><!-- /Modal 设置 -->
{{end}}