{{define "content"}}
<!-- 首页 载入原始数据文件 -->
<div class="dig" id="load_file">
	<div class="modal-header">
		<h3>选择原始数据文件</h3>
	</div>

	<div class="modal-body">
		<form method="post" action="/data" enctype="multipart/form-data">
			<span class="btn fileinput-button">
				<i class="icon-upload"></i>
				<span>载入文件</span>
				<input id="files" name="files" type="file" multiple>
			</span>

			<input type="text" id="data_revise" name="data_revise" class="hidden">

			<input type="submit" value="上载" id="file-submit" class="hidden">
		</form>

		<div id="file_list" class="file-list"></div>
	</div>

	<div class="modal-footer">
		<div class="message"></div>
		<a href="#modal_setting" data-toggle="modal" class="btn btn-primary" id="setting">设置</a>
		<button class="btn btn-primary disabled" id="load_file_next">载入文件</button>
	</div>
</div><!-- /首页 载入原始数据文件 -->
<script src="/js/ui.js"></script>
<script src="/js/index.js"></script>

<!-- Modal 设置 -->
<div id="modal_setting" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>设置</h3>
		</div>
	<div class="modal-body">


<form class="index-setting form-horizontal">
	<!--
	<div class="control-group">
		<label class="control-label" for="inputEmail">Email</label>
		<div class="controls">
			<input type="text" id="inputEmail" placeholder="Email">
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="inputPassword">Password</label>
		<div class="controls">
			<input type="password" id="inputPassword" placeholder="Password">
		</div>
	</div>
-->

	<div class="control-group">
		<div class="controls">
			<label class="checkbox">
				<input id="set_revise" type="checkbox" checked="true"/> 自动修正
			</label>
		</div>
	</div>
</form>


		</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
		</div><!-- /Modal 设置 -->
{{end}}