{{define "content"}}{{$id:=.id}}
<!-- Linest -->
<div class="dig">
	<div class="modal-header">
		<h3>{{.title}}</h3>
	</div>

	<div class="modal-body">

<div class="btn-group">
	{{range .sensors}}
  <a href="/result/{{$id}}/linest-fig/wv/{{.Channel}}" class="btn">通道{{.Channel}}</a>
  {{end}}
</div>

<table class="table table-condensed">
	<thead>
		<tr><th>数据1</th><th>数据2</th><th>Rsq</th><th>Slope</th><th>Intercept</th></tr>
	</thead>
	<tbody>
	{{range .sensors}}{{$ch1 := .Channel}}
		{{range .Rations}}{{$ch2 := .Channel}}
		<tr><td>Ch{{$ch1}}</td><td>Ch{{$ch2}}</td><td>{{printf "%0.3f" .Rsq}}</td><td>{{printf "%0.3f" .Slope}}</td><td>{{printf "%0.3f" .Intercept}}</td></tr>
		{{end}}
	{{end}}

	</tbody>
</table>

	</div>

	<div class="modal-footer">
		<div class="message"></div>
	</div>
</div><!-- /Linest -->
{{end}}