<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>风资源数据处理</title>

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/Highcharts-3.0.1/js/highcharts.js"></script>
<script src="/js/Highcharts-3.0.1/js/highcharts-more.js"></script>
<script src="/js/Highcharts-3.0.1/js/modules/data.js"></script>
<script src="/js/Highcharts-3.0.1/js/modules/exporting.js"></script>

</head>

<body>

<!-- 导航菜单 -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand">风资源数据处理</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="/">首页</a></li>
					<li><a href="/result">结果列表</a></li>
{{if not .hideResultMenu}}
<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">信息 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="/result/{{.id}}/info-site">Site</a></li>
	<li><a href="/result/{{.id}}/info-logger">Logger</a></li>
	<li><a href="/result/{{.id}}/info-sensors">Sensor</a></li>
	</ul>
</li>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">数据完整率 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="/result/{{.id}}/integrity">总计</a></li>
	<li><a href="/result/{{.id}}/integrity-all">完整信息</a></li>
	</ul>
</li>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">相关性 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="/result/{{.id}}/linest/wv">WV</a></li>
	<li><a href="/result/{{.id}}/linest/wd">WD</a></li>
	</ul>
</li>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">基本数据 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="/result/{{.id}}/wv/ym"><code>平均风速</code>(不同高度|测风年|逐月)</a></li>
	<li><a href="/result/{{.id}}/wv/yh"><code>平均风速</code>(不同高度|代表年|逐时)</a></li>
	<li class="divider"></li>
	<li><a href="/result/{{.id}}/wp/ym"><code>平均风功率密度</code>(不同高度|测风年|逐月)</a></li>
	<li><a href="/result/{{.id}}/wp/yh"><code>平均风功率密度</code>(不同高度|代表年|逐时)</a></li>
	<li class="divider"></li>
	<li><a href="/result/{{.id}}/wvp/mh"><code>平均风速风功率</code>(各月|逐时)</a></li>
	<li class="divider"></li>
	<li><a href="/result/{{.id}}/turbs"><code>平均湍流强度</code>(不同高度)</a></li>
	<li class="divider"></li>
	<li><a href="/result/{{.id}}/windshear"><code>风切变指数</code>(不同高度)</a></li>
	</ul>
</li>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">频率分布 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="/result/{{.id}}/wvp-freq"><code>风速、风能频率分布</code>(不同高度|代表年)</a></li>
	<li><a href="/result/{{.id}}/windrose"><code>风向、风能频率分布玫瑰图</code></a></li>
	<li><a href="#"><code>威布尔曲线图</code>(不同高度|代表年)</a></li>
	</ul>
</li>

<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">轮毂高度数据 <b class="caret"></b></a>
	<ul class="dropdown-menu">
	<li><a href="#">风速风功率</a></li>
	<li><a href="#">代表年平均风向频率、风能密度方向分布</a></li>
	<li><a href="#">代表年风频曲线及威布尔参数</a></li>
	<li><a href="#">代表年平均风速日变化和年变化</a></li>
	<li><a href="#">湍流强度值</a></li>
	<li><a href="#">最大风速和极大风速</a></li>
	<li><a href="/result/{{.id}}/contrast">数据修改对比</a></li>
	</ul>
</li>
{{end}}
				</ul>
				<ul class="nav pull-right">
					<li><a href="#modal_help" data-toggle="modal">帮助</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div><!-- /导航菜单 -->


<!-- 主体内容 -->
<div class="container">

	{{template "content" .}}

</div> <!-- /主体内容 -->


<!-- Modal 帮助 -->
<div id="modal_help" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>帮助</h3>
		</div>
	<div class="modal-body">
		<p>目前只支持SDR系统...</p>
		<p><code>1小时数据文件</code>和<code>10分钟数据文件</code>是监测塔数据经过软件 Symphonie Data Retriever 处理后导出的 Tabbed 10-min ASCII(*.txt) 和 Tabbed 60-min ASCII(*.txt) 文件。</p>
		</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
		</div><!-- /Modal 帮助 -->

</body>
</html> 