{{define "content"}}
<!-- Wvp-Fig -->
<div class="dig">
	<div class="modal-header">
		<h3>代表年的各月风速风功率日变化曲线图</h3>
	</div>

	<div class="modal-body">

<div id="chart_wvp">
{{range $i,$v:= .wvps}}
<div id="chart_wvp_{{$i}}"></div>
{{end}}
</div>

	</div>

	<div class="modal-footer">
		<div class="message"></div>
	</div>
</div><!-- /Wvp-Fig -->

<script>
$(document).ready(function(){
	{{range $i,$v:= .wvps}}
		var v{{$i}} = {{toJson $v}};

		showWvpFig({{$i}},v{{$i}});
	{{end}}
});

function showWvpFig(id,wvp) {
	$('#chart_wvp_'+id).highcharts({
		chart: {
			zoomType: 'xy'
		},
		title: {
			text: wvp.Title
		},
		subtitle: {
			text: ''
		},
		xAxis: [{
			categories: wvp.Cats
		}],
		yAxis: [{ // Secondary yAxis
			gridLineWidth: 0,
			title: {
				text: '风速 (m/s)',
				style: {
					color: '#4572A7'
				}
			},
			labels: {
				style: {
					color: '#4572A7'
				}
			}

		}, { // Tertiary yAxis
			gridLineWidth: 0,
			title: {
				text: '风功率 (W/m2)',
				style: {
					color: '#AA4643'
				}
			},
			labels: {
				style: {
					color: '#AA4643'
				}
			},
			opposite: true
		}],
		tooltip: {
			shared: true
		},
		legend: {
			layout: 'vertical',
			align: 'left',
			x: 120,
			verticalAlign: 'top',
			y: 80,
			floating: true,
			backgroundColor: '#FFFFFF'
		},
		series: [{
			name: '风速',
			color: '#4572A7',
			type: 'spline',
			yAxis: 0,
			data: wvp.WvData,
			tooltip: {
				valueSuffix: ' m/s'
			}
		}, {
			name: '风功率',
			type: 'spline',
			color: '#AA4643',
			yAxis: 1,
			data: wvp.WpData,
			tooltip: {
				valueSuffix: ' W/m2'
			}
		}]
	});

}

</script>
{{end}}