{{define "content"}}
<!-- Wvp-Fig -->
<div class="dig">
	<div class="modal-header">
		<h3>平均风速风功率变化图</h3>
	</div>

	<div class="modal-body">


<div id="chart_wvp">
{{range $i,$v:= .wvps}}
<div id="chart_wvp_{{$i}}"></div>

<table class="table table-condensed">
	<!--<caption>{{.Title}}</caption>-->
	<thead>
		<tr>
			<th>时间({{.Unit}})</th>
			{{range .Cats}}<th>{{.}}</th>{{end}}<th>平均</th>
		</tr>
	</thead>
	<tbody>
		{{range .Data}}
		<tr>
			<th>{{.Name}}</th>
			{{range .Data}}<th>{{printf "%0.2f" .}}</th>{{end}}
			<th>{{printf "%0.2f" .Avg}}</th>
		</tr>
		{{end}}
	</tbody>
</table>
{{end}}
</div>

<div id="chart_wvpmh">
{{range $i,$v:= .wvpsmh}}
<div id="chart_wvpmh_{{$i}}"></div>
{{end}}
</div>


	</div>

</div><!-- /Wvp-Fig -->

<script>
$(document).ready(function(){
	{{range $i,$v:= .wvps}}
		var v{{$i}} = {{toJson $v}};

		showWvpFig({{$i}},v{{$i}});
	{{end}}

	{{range $i,$v:= .wvpsmh}}
		var vmh{{$i}} = {{toJson $v}};

		showWvpMhFig({{$i}},vmh{{$i}});
	{{end}}
});

function showWvpFig(id,wvp) {
	var data = [];
	for (var i=0;i<wvp.Data.length;i++) {
		var d = {
			"name": wvp.Data[i].Name,
			"data": wvp.Data[i].Data
		}
		data.push(d)
	}
	console.log(wvp.Data);
	console.log(data);
	$('#chart_wvp_'+id).highcharts({
		chart: {
			type: 'line'
		},
		title: {
			text: wvp.Title+"变化图",
			x: -20 //center
		},
		subtitle: {
			text: wvp.Subtitle,
			x: -20
		},
		xAxis: {
			categories: wvp.Cats,
			labels: {
				rotation: wvp.Rotation,
				align: 'right',
			}
		},
		yAxis: {
			title: {
				text: wvp.YaxisTitle
			},
			plotLines: [{
				value: 0,
				width: 1,
				color: '#808080'
			}]
		},
		tooltip: {
			valueSuffix: wvp.ValueSuffix
		},
		legend: {
			layout: 'vertical',
			align: 'right',
			verticalAlign: 'top',
			x: -10,
			y: 100,
			borderWidth: 0
		},
		series: data
	});
}

function showWvpMhFig(id,wvp) {
	$('#chart_wvpmh_'+id).highcharts({
		chart: {
			zoomType: 'xy'
		},
		title: {
			text: wvp.Title
		},
		subtitle: {
			text: ''
		},
		xAxis: [{
			categories: wvp.Cats,
			labels: {
				rotation: wvp.Rotation
			}
		}],
		yAxis: [{ // Secondary yAxis
			gridLineWidth: 0,
			title: {
				text: '风速 (m/s)',
				style: {
					color: '#4572A7'
				}
			},
			labels: {
				style: {
					color: '#4572A7'
				}
			}

		}, { // Tertiary yAxis
			gridLineWidth: 0,
			title: {
				text: '风功率 (W/m2)',
				style: {
					color: '#AA4643'
				}
			},
			labels: {
				style: {
					color: '#AA4643'
				}
			},
			opposite: true
		}],
		tooltip: {
			shared: true
		},
		legend: {
			layout: 'vertical',
			align: 'left',
			x: 120,
			verticalAlign: 'top',
			y: 80,
			floating: true,
			backgroundColor: '#FFFFFF'
		},
		series: [{
			name: '风速',
			color: '#4572A7',
			type: 'spline',
			yAxis: 0,
			data: wvp.WvData,
			tooltip: {
				valueSuffix: ' m/s'
			}
		}, {
			name: '风功率',
			type: 'spline',
			color: '#AA4643',
			yAxis: 1,
			data: wvp.WpData,
			tooltip: {
				valueSuffix: ' W/m2'
			}
		}]
	});
}

</script>
{{end}}
