{{define "content"}}
<!-- Wvp-windrose-Fig -->
<div class="dig">
	<div class="modal-header">
		<h3></h3>
	</div>

	<div class="modal-body">

<div id="chart_wvp_windrose">
{{range $i,$v:= .wvps}}
<div id="chart_wvp_windrose_{{$i}}"></div>

<!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
<table id="data-{{$i}}" class="table table-condensed">
	<caption>{{.Title}}</caption>
	
	<tr>
		<th class="freq">方向</th>
		{{range .Cats}}
		<th class="freq">{{.}}</th>
		{{end}}
		<th class="freq">总计</th>
	</tr>
	{{range .Data}}
	<tr>
		<td class="dir">{{.Dir}}</td>
		{{range .Data}}
		<td class="data">{{printf "%0.5f" .}}</td>
		{{end}}
		<td class="data">{{printf "%0.5f" .Sum}}</td>
	</tr>
	{{end}}
	<tr>
		<td class="totals">总计</td>
		{{range .Sums}}
		<td class="totals">{{printf "%0.5f" .}}</td>
		{{end}}
		<td class="totals">&nbsp;</td>
	</tr>
</table>


{{end}}
</div>

	</div>

</div><!-- /Wvp-windrose-Fig -->

<script>
$(document).ready(function(){
	{{range $i,$v:= .wvps}}
		var v{{$i}} = {{toJson $v}};

		showWvpFig({{$i}},v{{$i}});
	{{end}}
});

function showWvpFig(id,wvp) {
	var colors = [];
	if (wvp.Cats.length <=7) {
		colors = ["#F70303","#FA8A04","#ABFD03","#02FD22","#01CBFD","#0487FD","#0200FF"];

	} else {
		colors = ["#F70303","#FE4504","#FA8A04","#FFC803","#F4F801","#ABFD03","#60FF00","#02FD22","#01FDA6","#01CBFD","#0487FD","#0142F6","#0200FF"];
	}
	colors = colors.slice(-wvp.Cats.length);

	var series = [];
	for (var i=wvp.Cats.length-1; i>=0; i--) {
		var row = {
			name: wvp.Cats[i],
			data: []
		}

		for (var j=0; j<wvp.Dirs.length; j++) {
			row.data.push(wvp.Data[j].Data[i]);
		}
		series.push(row);
	}


	console.log(series);

	// Parse the data from an inline table using the Highcharts Data plugin
	$('#chart_wvp_windrose_'+id).highcharts({


		chart: {
			polar: true,
			type: 'column'
		},

		title: {
			text: wvp.Title
		},

		subtitle: {
			text: ''
		},

		colors: colors,

		pane: {
			size: '85%'
		},

		legend: {
			reversed: true,
			align: 'right',
			verticalAlign: 'top',
			y: 100,
			layout: 'vertical'
		},

		xAxis: {
			tickmarkPlacement: 'on',
			categories:wvp.Dirs
		},

		yAxis: {
			min: 0,
			endOnTick: false,
			showLastLabel: true,
			title: {
				text: '频率 (%)'
			},
			labels: {
				formatter: function () {
					return this.value + '%';
				}
			}
		},

		tooltip: {
			valueSuffix: '%',
			followPointer: true
		},

		plotOptions: {
			series: {
				stacking: 'normal',
				shadow: false,
				groupPadding: 0,
				pointPlacement: 'on'
			}
		},
		series: series
	});
}

</script>
{{end}}